<div *ngIf="line">
  <canvas
      baseChart
      width="600"
      height="300"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
  >
  </canvas>
</div>

<div *ngIf="polar">
  <canvas
      baseChart
      [data]="polarAreaChartDataSummary"
      [legend]="polarAreaLegend"
      [type]="polarAreaChartType"
      [options]="lineChartOptionsPolar"
      >
      </canvas>
</div>

<div *ngIf="pie">
  <canvas baseChart class="chart"
      [data]="pieChartData"
      [type]="pieChartType">
  </canvas>
</div>




