<div style="display: flex; flex-wrap: wrap">
  <div style="flex: 1; padding: 10px" *ngIf="typeOfChart == 'line'">
    <h2 class="chart-title">Logs Per Month</h2>
    <canvas
      baseChart
      width="500"
      height="400"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"

    >
    </canvas>
  </div>
  <div style="flex: 1; padding: 10px" *ngIf="typeOfChart == 'line'">
    <h2 class="chart-title">Top Message</h2>
    <canvas
      baseChart
      [data]="polarAreaChartData"
      [legend]="polarAreaLegend"
      [type]="polarAreaChartType"
    >
    </canvas>
  </div>
</div>
