<div class="sidenav">
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="" id="dashboard">
        <i class="fa fa-tachometer"></i>
        <span> Dashboard</span>
      </a>
    </li>
    <li>
      <div >
        <a routerLink="home" class="nav-link d-flex align-items-center text-white text-decoration-none" >

          <span><strong> Home</strong></span>
        </a>
      </div>
    <div >
      <a routerLink="logs-table" class="nav-link d-flex align-items-center text-white text-decoration-none" aria-expanded="false">
        <span><strong> Logs</strong></span>
      </a>

    </div>

    <div>
      <a href="#" class="nav-link d-flex align-items-center text-white text-decoration-none" aria-expanded="false">

        <span><strong> Kibana </strong></span>
      </a>

    </div>


    <div >
      <a  class="nav-link d-flex align-items-center text-white text-decoration-none" aria-expanded="false">

          <span>  <strong>  Reporting</strong> </span>
      </a>

    </div>

    <div >
      <a href="#" class="nav-link d-flex align-items-center text-white text-decoration-none"  aria-expanded="false">

        <span><strong> Alerting</strong></span>
      </a>

    </div>
    <div >
      <a routerLink="load-data" class="nav-link d-flex align-items-center text-white text-decoration-none"  aria-expanded="false">

        <span><strong> Load Data</strong></span>
      </a>

    </div>
    <div >
      <a routerLink="chart" class="nav-link d-flex align-items-center text-white text-decoration-none"  aria-expanded="false">

        <span><strong> Chart</strong></span>
      </a>

    </div>
    <div >
      <a routerLink="metrics" class="nav-link d-flex align-items-center text-white text-decoration-none"  aria-expanded="false">

        <span><strong> Metrics</strong></span>
      </a>

    </div>
  </ul>
</div>
