<div class="sidenav">
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="" id="dashboard">
        <i class="fa fa-tachometer"></i>
        <span> Dashboard</span>
      </a>
    </li>
    <li>
    
    <div class="dropdown">
      <a routerLink="logs-table" class="nav-link d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        
        <span><strong> Logs</strong></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="audit-management">
            <i class="fa fa-calendar"></i>
            <span> Default</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="risk-management">
            <i class="fa fa-shield"></i>
            <span> IODevices</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="projects-management">
            <i class="fa fa-cogs"></i>
            <span> Persistence</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a href="#" class="nav-link d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        
        <span><strong> Kibana </strong></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link"
            id="action-management">
            <i class="fa fa-crosshairs"></i>
            <span> Home </span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="audit-management">
            <i class="fa fa-calendar"></i>
            <span> Default</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="risk-management">
            <i class="fa fa-shield"></i>
            <span> IODevices</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="projects-management">
            <i class="fa fa-cogs"></i>
            <span> Persistence</span>
          </a>
        </li>
      </ul>
    </div>


    <div class="dropdown">
      <a  class="nav-link d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-crosshairs"></i>  
          <span>  <strong>  Reporting</strong> </span> 
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li class="nav-item">
          <a class="nav-link" routerLink="">
            
            <span> Add Report </span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="audit-management">
            <i class="fa fa-calendar"></i>
            <span> Modify Report</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="projects-management">
            <i class="fa fa-cogs"></i>
            <span> List Report</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a href="#" class="nav-link d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        
        <span><strong> Alerting</strong></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link"
            id="action-management">
            <i class="fa fa-crosshairs"></i>
            <span> Create Alert </span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="audit-management">
            <i class="fa fa-calendar"></i>
            <span> Modify Alert</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" id="projects-management">
            <i class="fa fa-cogs"></i>
            <span> List Alert</span>
          </a>
        </li>
      </ul>
    </div>
  </ul>
</div>