<div class="container-fluid" *ngIf="tableData">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Logs</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th style="width: 7%">Logger</th>
              <th style="width: 7%">LogLevel</th>
              <th style="width: 10%">LogMessage</th>
              <th style="width: 7%">Day</th>
              <th style="width: 7%">Year</th>
              <th style="width: 7%">Month</th>
              <th style="width: 7%">Package</th>
              <th style="width: 10%">ThreadName</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th style="width: 7%">Logger</th>
              <th style="width: 7%">LogLevel</th>
              <th style="width: 10%">LogMessage</th>
              <th style="width: 7%">Day</th>
              <th style="width: 7%">Year</th>
              <th style="width: 7%">Month</th>
              <th style="width: 7%">Package</th>
              <th style="width: 10%">ThreadName</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let log of tableData ">
              <td>{{ log.logger }}</td>
              <td>{{ log.loglevel }}</td>
              <td>{{ log.logMessage }}</td>
              <td>{{ log.day }}</td>
              <td>{{ log.year }}</td>
              <td>{{ log.month }}</td>
              <td>{{ log.packagee }}</td>
              <td>{{ log.threadName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="ErrorlogsMessage">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Exception</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="row-border hover">
              <tr>
                <th style="width: 7%;">Exception</th>
                <th style="width: 7%;">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exception of ErrorlogsMessage">
                <td *ngIf="exception">{{ exception.errorMessage }}</td>
                <td>
                  <p-button (click)="exception.showStackTrace = true" icon="pi pi-external-link" label="Show"></p-button>
                  <p-dialog header="StackTraceLog" [(visible)]="exception.showStackTrace" [style]="{ width: '50vw', height: '300px' }">
                    <ul *ngFor="let stackTrace of exception.stackTrace; let i = index">
                      <li>{{ i + 1 }} - {{ stackTrace }}</li>
                    </ul>
                  </p-dialog>
                </td>
              </tr>
            </tbody>


          </table>


        </div>
      </div>

    </div>
</div>


