
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Logs</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <th style="width: 7%">Logger</th>
            <th style="width: 7%">LogLevel</th>
            <th style="width: 10%">LogMessage</th>
            <th style="width: 7%">Day</th>
            <th style="width: 7%">Year</th>
            <th style="width: 7%">Month</th>
            <th style="width: 7%">package</th>
            <th style="width: 10%">threadName</th>
          </thead>
          <tfoot>
            <tr>
              <th style="width: 7%">Logger</th>
              <th style="width: 7%">LogLevel</th>
              <th style="width: 10%">LogMessage</th>
              <th style="width: 7%">Day</th>
              <th style="width: 7%">Year</th>
              <th style="width: 7%">Month</th>
              <th style="width: 7%">package</th>
              <th style="width: 10%">threadName</th>
            </tr>
          </tfoot>
          <tbody>
            <tr
              *ngFor="
                let log of pageContentLogs
                  | paginate
                    : {
                        itemsPerPage: itemLogs,
                        currentPage: pLogs,
                        totalItems: totalLogs
                      }
              "
            >
              <td *ngIf="log.logger">{{ log.logger }}</td>
              <td *ngIf="log.logger">{{ log.loglevel }}</td>
              <td *ngIf="log.logger">{{ log.logMessage }}</td>
              <td *ngIf="log.logger">{{ log.day }}</td>
              <td *ngIf="log.logger">{{ log.year }}</td>
              <td *ngIf="log.logger">{{ log.month }}</td>
              <td *ngIf="log.logger">{{ log.packagee }}</td>
              <td *ngIf="log.logger">{{ log.threadName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info"
            id="dataTable_info"
            role="status"
            aria-live="polite"
          >
            Showing {{pLogs}} of  <b>{{ totalLogs }}</b> {{ "éléments" }}
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="dataTable_paginate"
          >
          <div class="pagination justify-content-end">
            <nav class="Page navigation example">
              <pagination-controls
                (pageChange)="pLogs = $event"
                (click)="onSelect(pLogs)"
                previousLabel="{{ 'Précédente' }}"
                nextLabel="{{ 'Suivante' }}"
              ></pagination-controls>
            </nav>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
