<!-- Title-->
<div class="title">
    <h3>Tableau de bord</h3>

  </div>
  <!-- Content-->
  <div class="content">
    <div class="row">
      <div class="col-md-4 col-xl-3 ">
        <div class="card bg-c-blue  card-box bg-red">
          <div class=" inner">
            <h5 class="m-b-20">Total Logs</h5>
            <h2 class="text-left"><span>{{totalLog}}</span></h2>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="" data-toggle="modal" data-target="" class="card-box-footer" >View More <i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 ">
        <div class="card bg-c-secondary  card-box bg-secondary">
          <div class=" inner">
            <h5 class="m-b-20">Totla Error </h5>
            <h2 class="text-left"><span>{{ totalError}}</span></h2>
          </div>
          <div class="icon">
            <i class="fa fa-building"></i>
          </div>
          <a href="" data-toggle="modal" data-target="" class="card-box-footer">View More <i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 ">
        <div class="card bg-c-yellow  card-box bg-yellow">
          <div class=" inner">
            <h5 class="m-b-20">Total Warn</h5>
            <h2 class="text-left"><span>{{ totalWarn}}</span></h2>
          </div>
          <div class="icon">
            <i class="fa fa-balance-scale"></i>
          </div>
          <a href="" data-toggle="modal" data-target="" class="card-box-footer" >View More <i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 ">
        <div class="card bg-c-green  card-box bg-green">
          <div class=" inner">
            <h5 class="m-b-20">Total Info</h5>
            <h2 class="text-left"><span>{{ totalInfo}}</span></h2>
          </div>
          <div class="icon">
            <i class="fa fa-cogs"></i>
          </div>
          <a href="" data-toggle="modal" data-target="" class="card-box-footer" >View More <i
              class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        &nbsp;&nbsp;
        <div class="card-card-4  z-depth-3">
          <div class="card-body text-center bg-altran rounded-top">
            <h5 class="text-light"><strong>{{'Dernier risque :' }}</strong>
              <button type="button" id="add-risk-btn" class="btn btn-primary btn-add-add" title="Afficher les risques"
                data-toggle="modal" data-target="#addActionsModal"
                style="float:right; color: #007EAF;">
                <i class="fa fa-align-justify"></i>&nbsp;{{'Voir tout' }}</button></h5>
          </div>
          <div class="card-body">
            <div class="table-responsive-lg">
              <table class="table table-bordered table-striped table-hover">
                <thead class="row-border hover">
                  <tr>
                    <th style="width: 7%;">Logger</th>
                    <th style="width: 7%;">LogLevel</th>
                    <th style="width: 10%;">LogMessage</th>
                    <th style="width: 7%;">Day</th>
                    <th style="width: 7%;">Year</th>
                    <th style="width: 7%;">Month</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let log of logs">
                    <td *ngIf="log._source.logger">{{log._source.logger}}</td>
                    <td *ngIf="log._source.logger">{{log._source.loglevel}}</td>
                    <td *ngIf="log._source.logger">{{log._source.logmessage}}</td>
                    <td *ngIf="log._source.logger">{{log._source.day}}</td>
                    <td *ngIf="log._source.logger">{{log._source.year}}</td>
                    <td *ngIf="log._source.logger">{{log._source.month}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>

    </div>&nbsp;&nbsp;

  </div>
